fastapi
uvicorn
pydantic
pandas
numpy
google-cloud-vision
pytesseract
Pillow
langchain_core
langgraph
langgraph-checkpoint-postgres
sqlalchemy
asyncpg
psycopg[binary]
slowapi
python-magic
PyPDF2
python-multipart
